body {
  background-color: #303030;
  color: #d0d0d0;
  font-family: "Albert Sans", sans-serif;
}
header {
  background-color: #353535;
}
.header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logotype {
  height: 75px;
  width: 175px;
}
.header button {
  background-color: #303030;
  border: none;
}
.logo {
  height: 70px;
  width: 230px;
}
.direction {
  height: 72px;
  width: 1357px;
  display: flex;
}
.logo form,
.logo button {
  height: 70px;
  width: 180px;
}
.arh,
.art {
  width: 157px;
  text-align: center;
  margin-top: 6px;
}
.vid,
.diz,
.tre {
  width: 127px;
  margin-top: 6px;
}
.tools {
  display: flex;
  justify-content: center;
  margin-top: 1.5%;
}
.favorite,
.account,
.theme {
  width: 80px;
}
.tools button,
.tools form {
  height: auto;
  width: auto;
}
.content {
  height: 4700px;
  width: 84.3%;
  background-color: #343434;
}
.sidebar {
  height: 4700px;
  width: 15.7%;
  float: right;
  background-color: #303030;
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 25px;
}
.sidebar a {
  font-size: larger;
  text-decoration: none;
  color: #d0d0d0;
}
.post1 {
  height: 50px;
  margin: 10px;
}
.post2 {
  height: 70px;
  margin: 10px;
}
.post3 {
  height: 50px;
  margin: 10px;
}
.post4 {
  margin-bottom: 1px;
  height: 70px;
  margin: 10px;
}
.post5 {
  height: 70px;
  margin: 10px;
}
.post6 {
  height: 70px;
  margin: 10px;
}
a:active {
  color: #909090;
}
.maincontent {
  height: 4700px;
  width: 65%;
  background-color: #343434;
  margin: auto;
}
.imgdiz1 {
  height: 432px;
  width: 767px;
  margin: auto;
}
.SID {
  margin-left: 11px;
}
.neo,
.fuz,
.hy,
.lof,
.prov,
.scan,
.at {
  display: flex;
}
.neo-p,
.fuz-p,
.hy-p,
.lof-p,
.prov-p,
.scan-p,
.at-p {
  height: 430px;
  width: 400px;
}
.diz-neo img,
.diz-fuz img,
.diz-hy img,
.diz-lof img,
.diz-prov img,
.diz-scan img,
.diz-at img {
  height: 430px;
  width: 450px;
  margin-left: 50px;
}
h3 {
  font-size: 23px;
}
p {
  font-size: 17px;
  margin: 14px;
}
li {
  margin: 6px;
}
